<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_movie_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovieLibrary">
        <activity
            android:name=".MovieActivities.ImageGalleryActivity"
            android:exported="false"
            android:parentActivityName=".MovieActivities.DetailsActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MovieActivities.ReviewsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MovieActivities.FaqActivity"
            android:exported="false"
            android:parentActivityName=".MovieActivities.DetailsActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MovieActivities.Settings"
            android:exported="false"
            android:parentActivityName=".MovieActivities.MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MovieActivities.TopLists.BoxOfficeAllTime"
            android:exported="false"
            android:parentActivityName=".MovieActivities.MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MovieActivities.TopLists.BoxOffice"
            android:exported="false"
            android:parentActivityName=".MovieActivities.MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MovieActivities.TopLists.ComingSoon"
            android:exported="false"
            android:parentActivityName=".MovieActivities.MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MovieActivities.TopLists.InTheaters"
            android:exported="false"
            android:parentActivityName=".MovieActivities.MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MovieActivities.TopLists.MostPopularTvs"
            android:exported="false"
            android:parentActivityName=".MovieActivities.MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MovieActivities.TopLists.MostPopularMovies"
            android:exported="false"
            android:parentActivityName=".MovieActivities.MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MovieActivities.TopLists.Top250TvsList"
            android:exported="false"
            android:parentActivityName=".MovieActivities.MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MovieActivities.TopLists.Top250Movies"
            android:exported="false"
            android:parentActivityName=".MovieActivities.MainActivity" />
        <activity
            android:name=".MovieActivities.AdvancedFilterForm"
            android:exported="false"
            android:parentActivityName=".MovieActivities.MainActivity" />
        <activity
            android:name=".MovieActivities.SavedMoviesActivity"
            android:exported="false"
            android:parentActivityName=".MovieActivities.MainActivity" />
        <activity
            android:name=".MovieActivities.LoadingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MovieActivities.DetailsActivity"
            android:exported="false"
            android:parentActivityName=".MovieActivities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MovieActivities.MainActivity" />
        </activity>
        <activity
            android:name=".MovieActivities.MainActivity"
            android:exported="false" />
    </application>

</manifest>